$chrome__bug: .1cm;
$a4__width: 21cm;
$a4__height: 29.7cm - $chrome__bug;

body {
  margin: 0;
  padding: 0;
  border: 0;
  color: #212121;
}

.paper {
  display: flex;
  background: #fff;
  flex-direction: column;
  box-shadow: 0 0 .5cm rgba(0, 0, 0, .5);
  width: $a4__width;
  height: $a4__height;
  margin: 1cm auto;
  padding: 1cm;
  box-sizing: border-box;
  position: relative;

  @media print {
    margin: 0;
  }
}
